/* 
    Created on : 07/05/2014, 20:49:57
    Author     : vanderlan
*/
.main_menu{
    width: 300px;
    border-radius: 20px;
    height: 300px;
    background-color: black;
}
.ui-widget,.ui-widget .ui-widget {
     font-size: 12px !important;
     margin: 0px ;
     
}
#logo{
    font-size: 40px;
    margin-top: 30px;
    float: left;
    color: #FFF;
    text-shadow: #000 2px 3px 2px;
}
#begin{
    font-size: 40px;
    float: right;
    margin-right: 40px;
    margin-top: 27%;
    color: #98a3aa;
    text-shadow: #000 2px 3px 2px;
    
}
#persistence_team{
    font-size: 20px;
    float: right;
    margin-right: 20px;
    margin-top: 29%;
    color: #98a3aa;
    text-shadow: #000 1px 1px 1px;
    
}
#sintraf_text{
    font-size: 20px;
    margin-top: 1%;
    float: left;
    color: #3399ff;
    margin-left: 31%;
    text-shadow: #000 1px 1px 1px;
    
}
#pagina_inicial{
    font-size: 40px;
    margin-top: 1%;
    float: left;
    color: #FFF;
    margin-left: 1%;
    text-shadow: #000 2px 3px 2px;
}

.formulario_cadastro {
    text-align: left;
    margin-top: 1%;
    
}